﻿button {
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-family: Berlin Sans FB;
    font-size: 40px;
    padding: 25px;
    margin: 7px;
    box-shadow: 3px 5px 8px #000;
}

    button:hover {
        background-color: darkgray;
    }

    button:active {
        background-color: darkgray;
        box-shadow: 1px 2px 8px #555;
        transform: translateY(4px);
    }

.btnRow {
    text-align: center;
}

.btnWrapper {
    display: inline-block;
    width: 250px;
}

.FourButtons {
    margin-top: 50px;
}
