﻿form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    border: 2px solid white;
    margin: 2rem auto 0 auto;
    padding: 3em;
   text-align: right;
   width: 70%;
}
label{
    grid-column: 1/2;
}
input{
    grid-column: 2/3;
    width: 300px;
    
}
button {
    grid-column: 2/3;
    


    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-family: Berlin Sans FB;
    font-size: 35px;
    padding: 5px;
    width: 40%;
    box-shadow: 3px 5px 8px #000;
}

    button:hover {
        background-color: darkgray;
    }

    button:active {
        background-color: darkgray;
        box-shadow: 1px 2px 8px #555;
        transform: translateY(4px);
    }