﻿.Intro{
    text-align:center; 
}

    .Intro h1 {
        font-family: 'Berlin Sans FB';
        font-size:50px;
    }
    .Intro p {
        font-family: 'Berlin Sans FB';
        font-size:25px;
    }

