﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Berlin Sans FB';
    font-size: 35px;

}
.container{
    color: white;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
   
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #212121;
    color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.hostContainer{
    display: flex;
    width:80%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
}
.host {
    width: 400px;
    height: 125px;
    margin: auto;
    margin-top: 12px;
    text-align: center;
    font-size: 2em;

    background-color: lightgray;
    border-radius: 10px;
    font-family: Berlin Sans FB;
    box-shadow: 3px 5px 8px #000;
}