﻿table {
    border: 1px solid white;
    margin: 20px;
    text-align: center;
    width: 220px;
    display: inline-block;
    align-content: center;
}

th {
    border-bottom: 2px dotted white;
  
}
tr {
    margin: 10px;
}
td{
    text-align: center;
    display: block;
    margin: auto;
    width:219px;
}

