﻿@page
@model IndexModel
@using SystemObjects;
@{
    ViewData["Title"] = "Home page";
}

<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Server Sign Up</title>

    <link href="~/css/ButtonStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/css/HomeStyles.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="Intro">
        <h1>Welcome to Server Sign Up</h1>
        <p>Please Select a Server Below to Begin the Sign Up Process</p>
    </div>
    <div class="hostContainer">
        @foreach (Host h in Model.hosts)
        {
            <form asp-page-handler="Custom" method="post" asp-route-Id="@h.Id">
                <button class="host">@h.Name</button>
            </form>
        }
    </div>
</body>
</html>