﻿@page
@model ServerSignUp.Pages.OverviewModel
@using SystemObjects;
@{
}

<link href="~/css/TableStyles.css" rel="stylesheet" type="text/css" />

@{

    foreach (Host host in Model.hosts)
    {

        <h1>@host.Name</h1>
        foreach (SignUp sign in Model.signUps)
        {
            if (host.Id == sign.Host.Id)
            {
                <div class="TableContainer">

                <table>
                    <tr>
                        <th>First Name</th>
                    </tr>
                    <tr>
                        <td>@sign.User.FirstName</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                    </tr>
                    <tr>
                        <td>@sign.User.LastName</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                    </tr>
                    <tr>
                        <td>@sign.User.Email</td>
                    </tr>
                </table>
                </div>
                @*<h4>@sign.User.FirstName</h4>
                    <h4>@sign.User.LastName</h4>
                    <h4>@sign.User.Email</h4>*@
            }
        }
    }

}
