﻿@page
@model ServerSignUp.Pages.SignUpModel
@{
}


@{
    <head>
        <link href="~/css/FormStyles.css" rel="stylesheet" type="text/css" />

    </head>


    if (Model.Host == null) {
        <h1>An Error has Occured.</h1>
    } else {
        <h1>You've chosen to sign up with the group: @Model.Host.Name</h1>
        <br/>
        <br/>
        <h3>@Model.ResultInfo</h3>        
        <form method="post">
            <div>
                <label asp-for="TempUser.FirstName"></label>
                <div >
                    <input asp-for="TempUser.FirstName" class=" form-control" />
                    <span asp-validation-for="TempUser.FirstName" class="text-danger"></span>
                </div>
                <label asp-for="TempUser.LastName"></label>
                <div>
                    <input asp-for="TempUser.LastName" class=" form-control" />
                    <span asp-validation-for="TempUser.LastName" class="text-danger"></span>
                </div>
                <label asp-for="TempUser.Email"></label>
                <div>
                    <input asp-for="TempUser.Email" class=" form-control" />
                    <span asp-validation-for="TempUser.Email" class="text-danger"></span>
                </div>
                <label asp-for="TempUser.Phone"></label>
                <div>
                    <input asp-for="TempUser.Phone" class=" form-control" />
                    <span asp-validation-for="TempUser.Phone" class="text-danger"></span>
                </div>
            </div>

            <div>
                <div>
                    <button class="btn btn-primary" id="SignUP">Sign Up</button>
                </div>
            </div>
        </form>
    }
}
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

